{% extends 'letters/base.html' %}
        {% block content %}

        <div class="container mt-5">
          <header class="text-center mb-4">
              <h1>Рервис рассылок</h1>
              <p class="lead">Управление и статистика email-рассылок</p>
          </header>
      
          <section id="general-info" class="mb-5">
              <h2>Общая информация</h2>
              <p>Чтобы удержать текущих клиентов, часто используют вспомогательные, или «прогревающие», рассылки для информирования и привлечения клиентов.</p>
              <p>Разработан сервис управления рассылками, администрирования и получения статистики.</p>
          </section>
      
          <section id="system-logic" class="mb-5">
              <h2>Логика работы системы</h2>
              <ul>
                  <li>После создания новой рассылки, если текущее дата и время больше даты и времени начала и меньше даты и времени окончания, должны быть выбраны из справочника все клиенты, которые указаны в настройках рассылки, и запущена отправка для всех этих клиентов.</li>
                  <li>Если создается рассылка с временем старта в будущем, отправка стартует автоматически по наступлению этого времени без дополнительных действий со стороны пользователя сервиса.</li>
                  <li>По ходу отправки рассылки собирается статистика по каждой рассылке для последующего формирования отчетов. Попытка создается одна для одной рассылки.</li>
              </ul>
          </section>
          <section id="system-logic" class="mb-5"></section>
          <h2>Статистика</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Количество рассылок</th>
                  <th>Количество поучателей рассылок</th>
                  <th>Количество запущенный рассылок</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ mailings_count }}</td>
                  <td>{{ customer_count }}</td>
                  <td>{{ mailings_active_count }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          </section>
          <footer class="text-center mt-5">
              <p>&copy; 2024 Рервис рассылок. Все права защищены.</p>
          </footer>
      </div>

          {% endblock %}


